.env
*.pyc
*.pyo
*.mo
*.swp
.DS_Store
.envrc
/.trash/
/.secret/
/.hidden/
/.sass-cache/
/_build/
/static_root/
/media_root/
/test_media_root/
/data/
/config/generated/
/.vagrant/
/ansible/.galaxy_roles/
/.vault_password
/stepone/modules_source/

/local_modules/
/logs/*
!/logs/empty
/.coverage
/htmlcov/

geckodriver.log
ghostdriver.log
